html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.navbar{
  height: 53px;
  background-color: blue;

}

.MainApp{
  margin-top: 53px;
}

.maplook{
  position: absolute;
  width: 30%;
  min-width: 250px;
  top:  100px;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.gradient {
  background: linear-gradient(120deg,#3c82ea,#5c7ffc);
  color: #fff;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exsitediv{
  position: relative;
}

.secret{
  position: absolute;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.cont{
  margin-top: 50px;
}

.land:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.land p{
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.landnews div{
  display: inline;
}

.extSite{
  width: 100%;
  min-height: 100vh;
  border:none;
}

iframe{
  overflow: hidden;
}

.newscont{
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
